<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.facebook.react.tests.gradle">
  <supports-screens android:anyDensity="true" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- needed for screenshot tests -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- needed for image onError tests -->
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:hardwareAccelerated="false">
    <activity
      android:name="com.facebook.react.testing.ReactAppTestActivity"
      android:theme="@style/ReactAndroidTheme.ReactNative.AppCompat.Light.NoActionBar.FullScreen"
    />
  </application>
</manifest>
