/** Blog **/

.entry-header {
  margin: 0;
}

.entry-header h1 {
  margin: 0;
  font-size: 33px;
  line-height: 36px;
  line-height: 1;
}

.entry-header h4 {
  margin: 0 0 10px;
  line-height: 16px;
  font-size: 14px;
  line-height: 1;
}

.entry-header .author {
  color: #5A6b77;
  font-weight: 700;
}

.entry-header .date {
  color: rgba(102,99,122,.5);
}

.entry-readmore {
  margin: 12px 0 0;
}

.entry-share {
  padding: 36px 0;
  display: block;
  text-align: left;
}

.entry-excerpt {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #EDEDED;
}

.entry-body {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

.small-title {
  font-size: 10px;
  color: #66637A;
  letter-spacing: .4rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 12px;
}

.entry-share .small-title {
  float: left;
  width: 50%;
}

.social-buttons {
  padding-top: 7px;
  float: left;
  width: 50%;
}

article {
  margin: 0 0 40px 0;
}

article h2 {
  font-size: 26px;
  line-height: 1;
}

article li {
  line-height: 28px;
}

.author-info {
  margin-top: 26px;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 20px
}

.the-image {
  position: relative;
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  border-radius: 50%;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
}

.author-image {
  position: relative;
}

.author-image:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  background-color: #F1F1F1;
}

.posted-on {
  font-size: 12px;
  color: rgba(102,99,122,.29);
  margin-bottom: 0;
  margin-top: 15px;
}

.name-title {
  margin-top: 2px;
  font-size: 22px;
  font-weight: 400;
  margin: 3px 0 5px;
  color: #5A6B77;
}

.name-title a {
  color: #5A6B77;
}

.name-title .title {
  color: rgba(102,99,122,.44);
}

.btn {
    background: 0 0;
    color: $color-react-native-blue;
    min-width: 0;
    border: 1px solid $color-react-native-blue;
    display: inline-block;
    padding: 9px 18px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
}

.btn a {
  text-decoration: none !important;
}

.btn:hover {
  text-decoration: none !important;
}

.video-container {
  border-radius: 4px;
  background-clip: padding-box;
  margin: 0 0 18px;
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 0;
  overflow: hidden;
}

@media (min-width: 760px) {
  .video-container {
    height: 345px;
  }
}

#mc_embed_signup {
  clear:left;
  width:100%;
}
