/** Footer **/

footer.nav-footer {
  box-sizing: border-box;
  border: none;
  font-weight: 300;
  color: #202020;
  font-size: 15px;
  line-height: 24px;
  background: #012129;
  box-shadow: inset 0 10px 10px -5px rgba(0,0,0,0.2);
  padding-top: 2em;
  padding-bottom: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer .sitemap {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto 1em;
}
footer .sitemap div {
  flex: 1;
}
footer .sitemap .nav-home {
  display: table;
  margin: -12px 20px 0 0;
  padding: 10px;
  width: 50px;
  height: 50px;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
}
footer .sitemap .nav-home:hover,
footer .sitemap .nav-home:focus {
  opacity: 1.0;
}
@media screen and (max-width: 768px) {
  footer .sitemap {
    display: none;
  }

  footer .newsletter {
    display: none;
  }

  #mc_embed_signup {
    display: none;
  }
}

footer .sitemap a {
  color: white;
  display: table;
  margin: 2px -10px;
  padding: 3px 10px;
}
footer .sitemap a:hover,
footer .sitemap a:focus {
  color: $color-react-native-blue;
  text-decoration: none;
}
footer .sitemap h5 > a:hover,
footer .sitemap h5 > a:focus {
  color: white;
  text-decoration: none;
}
footer .sitemap h5,
footer .sitemap h6 {
  margin: 0 0 10px;
}
footer .sitemap h5,
footer .sitemap h6,
footer .sitemap h5 > a,
footer .sitemap h6 > a {
  color: $color-react-native-blue;
  font-weight: 900;
}
footer .sitemap h5 > a,
footer .sitemap h6 > a {
  margin: 0 -10px;
}
footer .fbOpenSource {
  display: block;
  margin: 1em auto;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
  width: 170px;
}
footer .fbOpenSource:hover {
  opacity: 1.0;
}
footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

footer .newsletter {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto 1em;
}

footer .newsletter h5 {
  color: $color-react-native-blue;
  margin: 0 0 10px;
}
