{
  "presets": [
    "@babel/preset-env", // Modern preset for environment support
    "module:@react-native/babel-preset" // React Native Babel preset
  ],
  "plugins": [
    "babel-plugin-transform-flow-enums" // Plugin for Flow enum transformations
  ]
}

