{
  "root": true,

  "extends": [
    "./packages/eslint-config-react-native-community/index.js"
  ],

  "overrides": [
    {
      "files": [
        "Libraries/**/*.js",
      ],
      rules: {
        '@react-native-community/no-haste-imports': 2
      }
    },
    {
      "files": [
        "**/__fixtures__/**/*.js",
        "**/__mocks__/**/*.js",
        "**/__tests__/**/*.js",
        "jest/**/*.js",
        "RNTester/**/*.js",
      ],
      "globals": {
        // Expose some Jest globals for test helpers
        "afterAll": true,
        "afterEach": true,
        "beforeAll": true,
        "beforeEach": true,
        "expect": true,
        "jest": true,
      },
    },
    {
      "files": [
        "**/__tests__/**/*-test.js",
      ],
      "env": {
        "jasmine": true,
        "jest": true,
      },
    },
  ],
}
