# Force LF line endings for text files.
# When checked out on Windows machines the default is to add CRLF to text files
# which causes them to be published to npm packages with CRLF.
# Some script files fail to execute on Mac with CRLF.
*.command text eol=lf
*.cpp text eol=lf
*.entitlements text eol=lf
*.h text eol=lf
*.js text eol=lf
*.json text eol=lf
*.m text eol=lf
*.mm text eol=lf
*.pbxproj text eol=lf
*.plist text eol=lf
*.podspec text eol=lf
*.sh text eol=lf
*.storyboard text eol=lf
*.xcconfig text eol=lf
*.xcscheme text eol=lf
*.xib text eol=lf
gradlew text eol=lf
Podfile text eol=lf
