# Force correct line endings.
# On Windows the git default is CR+LF and on macOS/*nix the git default is LF.
# Regardless of OS, bash scripts should have LF endings (handled by Cygwin on Windows),
# and bat files should have CR+LF (only used on Windows).
gradlew text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
