# Ignore Pods
**/Pods

# Ignore hermes as it is downloaded from the react_native_pods
**/sdks/hermes
**/sdks/downloads

packages/*/dist
vendor
packages/**/types_generated/

packages/react-native-codegen/e2e/__test_fixtures__/modules/NativeEnumTurboModule.js
