{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "requirePragma": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [
        "*.js",
        "*.js.flow"
      ],
      "options": {
        "parser": "hermes"
      }
    }
  ]
}
