{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "requirePragma": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.code-workspace"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": [
        "*.js",
        "*.js.flow"
      ],
      "options": {
        "parser": "hermes"
      }
    },
    {
      "files": [
        "**/__docs__/*.md"
      ],
      "options": {
        "parser": "markdown",
        "proseWrap": "always",
        "requirePragma": false
      }
    }
  ]
}
