*.o
*.lo
*.la
.dirstamp
Makefile
Makefile.in
.libs
.deps
stamp-h1
folly-config.h
_configs.sed
aclocal.m4
autom4te.cache
build-aux
libtool
folly/test/gtest-1.*
folly/folly-config.h
folly/test/*_benchmark
folly/test/*_test
folly/test/*_test_using_jemalloc
folly/config.*
folly/configure
folly/m4/libtool.m4
folly/m4/ltoptions.m4
folly/m4/ltsugar.m4
folly/m4/ltversion.m4
folly/m4/lt~obsolete.m4
folly/generate_fingerprint_tables
folly/FormatTables.cpp
folly/EscapeTables.cpp
folly/GroupVarintTables.cpp
folly/FingerprintTables.cpp
