.prism {
  border-left: 4px solid $secondaryColor;
}

.token.keyword {
  color: #1990b8;
}

.token.string,
.token.regex {
  color: #2f9c0a;
}

.token.boolean,
.token.number {
  color: #c92c2c;
}

.token.comment {
  color: #7d8b99;
}
