body {
  background-color: $backgroundColor;
}

.headerTitle {
  font-weight: 300 !important;
}

.mainContainer {
  background-color: $backgroundColor !important;
}

.mainContainer h1,
.mainContainer h2,
.mainContainer h3,
.mainContainer h4,
.mainContainer h5,
.mainContainer h6 {
  color: $tintColor !important;
}

a {
  color: $secondaryColor;
  text-decoration: none !important;
}

.navGroup {
  background-color: #eaf2f5 !important;
}

.navitemactive {
  color: $secondaryColor !important;
}

input#search_input_react {
  background-color: #2f2f2f;
}

.button {
  color: $tintColor;
  border: 1px solid $tintColor;
}

.button:hover {
  background: $tintColor;
}

.hero {
  box-sizing: border-box;
}
.hero .button {
  text-transform: none;
}

code {
  color: $tintColor !important;
}

.mainContainer .component-grid {
  max-width: 800px;
}

.mainContainer .component {
  border: 1px solid #05A5D1;
  border-radius: 3px;
  margin: 0 auto 10px;
  width: 100%;
  display: inline-block;
  background-color: white;
}

.mainContainer .component-grid .component h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0 10px;
  background-color: #05A5D1;
  color: white;
  line-height: 40px;
}

.mainContainer .component h3 a {
  color: white;
}

.mainContainer .component p {
  padding: 10px;
  margin: 2px;
}

@supports (display:grid) {
  .mainContainer .component-grid {
    display: grid;
    grid-gap: 22px;
  }
}

@media only screen and (min-device-width: 768px) {
  .mainContainer .component-grid {
    width: 768px;
  }
  .mainContainer .component-grid.component-grid-border {
    border-bottom: 1px solid #f1eff0;
  }
  .mainContainer .component {
    width: 30%;
    height: 150px;
    margin: 0 22px 22px auto;
    vertical-align: top;
  }

  @supports (display:grid) {
    .mainContainer .component-grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .mainContainer .component {
      width: auto;
      height: auto;
      margin: 0;
    }
  }
}

.container {
  max-width: 900px;
}

.container .wrapper h2 {
  font-size: 31px;
}

.container .wrapper .prism {
  margin: 14px 0;
}

.pageContainer .container {
  margin: 40px auto;
}

p {
  font-size: 18px;
  line-height: 1.4;
}

.big-button {
  text-align: center;
  background: $secondaryColor;
  color: #fafafa;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 300;
  margin: 0 12px;
  display: inline-block;
  color: #fafafa;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, color 0.3s;
}

.big-button:hover {
  background: $tintColor;
  color: #fff;
}

.big-button a {
  color:white;
}

.big-button:active {
  background: #0485a9;
}

@media screen and (min-width: 600px) {
  .big-button {
    font-size: 24px;
  }
}

@media screen and (max-width: 373px) {
  .big-button {
    margin-bottom: 4px;
  }
}

@media only screen and (min-width: 1024px) {
  .docsNavContainer {
    margin-right: 0;
  }
}

.prose h1 {
  padding: 0 0;
}

.prose {
  max-width: 800px;
}

/* @media only screen and (min-device-width: 768px) {
  .container {
    margin-right: 0;
  }
} */
