.showcaseSection .inner-content {
  width: 800px;
}

@media only screen and (max-device-width: 840px) {
  .showcaseSection .inner-content {
    width: 100%; 
  }
}

.home-showcase-section {
  max-width: 800px;
  margin: 20px auto 20px auto;
  text-align: center;
  padding-bottom: 40px;
}

.home-showcase-section p {
  max-width: 560px;
  margin: 0 auto;
}

.footnote {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}


.home-showcase-section h2 {
  font-size: 31px;
  line-height: 40px;
  margin: 10px 0;
}

.home-showcase-section .showcase img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.showcaseHeader {
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

.showcase {
  margin: 30px auto 30px auto;
  width: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

@media only screen and (min-device-width: 1024px) {
  .showcase {
    width: 25%;
  }
}

.showcase h3 {
  margin-bottom: 0px;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0 !important;
  font-size: 16px;
}

.showcase p {
  margin-top: 5px;
  padding-top: 0 !important;
}

.showcase h3,
.showcase p {
  color: #484848;
}

@media only screen and (min-device-width: 736px) {
  .showcaseSection .showcase img {
    width: 100px;
  }
}

.showcaseSection .showcase img {
  height: 100px;
  border-radius: 20px;
}

.showcaseSection .logos img {
  padding: 0;
}

.pinned img {
  width: 150px;
  border-radius: 20px;
}
