.toggler li {
  display: inline-block;
  position: relative;
  top: 1px;
  padding: 10px !important;
  margin: 0px 2px 0px 2px !important;
  border: 1px solid $secondaryColor;
  border-bottom-color: transparent;
  border-radius: 3px 3px 0px 0px;
  background-color: transparent;
  font-size: 0.99em;
  cursor: pointer;
}
.toggler li:first-child {
  margin-left: 0 !important;
}
.toggler li:last-child {
  margin-right: 0 !important;
}
.toggler ul {
  width: 100%;
  display: inline-block;
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 1px solid $secondaryColor;
  cursor: default;
}
@media screen and (max-width: 960px) {
  .toggler li,
  .toggler li:first-child,
  .toggler li:last-child {
    display: block;
    border-bottom-color: $secondaryColor;
    border-radius: 3px;
    margin: 2px 0px 2px 0px;
  }
  .toggler ul {
    border-bottom: 0;
  }
}
.toggler a {
  display: inline-block;
  padding: 10px 5px;
  margin: 2px;
  border: 1px solid $secondaryColor;
  border-radius: 3px;
  text-decoration: none !important;
  color: $secondaryColor;
}

