{
  "rules": {
    // This folder currently runs through babel and doesn't need to be
    // compatible with node 4
    "comma-dangle": 0,

    "extra-arrow-initializer": 0,
    "no-alert": 0,
    "no-console-disallow": 0
  },
  "env": {
    "node": true
  }
}
