<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>

  <packageSources>

    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Office" value="https://office.pkgs.visualstudio.com/_packaging/Office/nuget/v3/index.json" />

  </packageSources>

</configuration>