<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.facebook.react">

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

  <application android:networkSecurityConfig="@xml/rn_network_security_config"
    tools:ignore="UnusedAttribute" />
  <!-- tools:ignore for networkSecurityConfig as it's Android API 24+ (current min target is 16)-->

</manifest>
