<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.facebook.react.tests">

  <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />

  <application>
    <uses-library android:name="android.test.runner" />
  </application>

  <instrumentation
    android:name="android.support.test.runner.AndroidJUnitRunner"
    android:targetPackage="com.facebook.react"
    android:label="Minimal Buck test project"/>

</manifest>
