<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initialProps</key>
	<dict>
		<key>hello</key>
		<string>world</string>
	</dict>
	<key>devServer</key>
	<string>http://localhost:8081/Examples/SampleApp/index.ios.bundle</string>
</dict>
</plist>
