_ReSharper*
[Bb]in
obj
objd
out/
tmp/
Logs/
target/
App_Data
*.user
*.sln.cache
*.suo
*.out
TestResults
[Tt]humbs.db
buildd.*
build.*
!build.props
*.log
*.bak
packages
private/
OACRTemp/
build_logs/
lock
/public/inc/bldver.*
/public/inc/sources.ver
/public/inc/version.htm
/data
.corext/gen/
registered_data.ini
_NCrunch*
StyleCop.Cache
*.ide

# quickbuild.exe
/VersionGeneratingLogs/
VersionGeneration/
versions/
QLogs
QLocal
QTestLogs
__cacheOutput

# bad tlb/chm generators in nmake tree
*.tlb
*.chm

# dumb silverlight
ClientBin/

# dump azure
*.build.csdef
csx/

/*.buildlog
/*.ProjectImports.zip