name: CI
on:
  push:
    branches:
      - master

jobs:

  RNGithubPublish:
    name: React-Native GitHub Publish

    runs-on: windows-2016
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - run: npm install

    - name: github context
      run: echo %GITHUB_CONTEXT%
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}

    - name: job context
      run: echo %JOB_CONTEXT%
      env:
        JOB_CONTEXT: ${{ toJson(job) }}

    - name: Bump package version
      run: node .ado/bumpFileVersions.js
      env:
        BUILD_SOURCEBRANCH: ${{ github.ref }}

    - name: Setup Nuget.exe
      uses: warrenbuckley/Setup-Nuget@v1

    - name: NuGet restore
      run: nuget.exe restore ReactAndroid/packages.config -PackagesDirectory ReactAndroid/packages/ -Verbosity Detailed -NonInteractive

    - run: gradlew.bat "-Pparam=excludeLibs" installArchives

    - name: Extract version from package.json, and put it in nuspec
      run: |
        $lines = Get-Content package.json | Where {$_ -match '^\s*"version":.*'} 
        $npmVersion = $lines.Trim().Split()[1].Trim('",');
        (Get-Content ReactAndroid/ReactAndroid.nuspec).replace('__BuildBuildNumber__', $npmVersion) | Set-Content ReactAndroid/ReactAndroid.nuspec
      shell: powershell

    - name: Change pom file to always use version 1000
      run: |
        (Get-Content android\com\facebook\react\react-native\0.59.0\react-native-0.59.0.pom).replace('<version>0.59.0</version>', '<version>1000.0.0-master</version>') | Set-Content android\com\facebook\react\react-native\0.59.0\react-native-0.59.0.pom
      shell: powershell

    - run: nuget pack ReactAndroid/ReactAndroid.nuspec

  #  - name: Do Publish
  #    run: node .ado/publish.js
  #    env:
  #      BUILD_STAGINGDIRECTORY: ${{ runner.temp }}\final

  #  - name: Publish final artifacts
  #    uses:  actions/upload-artifact@master
  #    with:
  #      name: ReactNative-Final
  #      path: ${{ runner.temp }}\final

