--- "D:\\code\\work\\react-native-v0.61.5\\ReactAndroid\\packages.config"	1969-12-31 16:00:00.000000000 -0800
+++ "D:\\code\\work\\react-native-fb61merge\\ReactAndroid\\packages.config"	2020-03-30 20:53:05.829342700 -0700
@@ -0,0 +1,5 @@
+﻿<?xml version="1.0" encoding="utf-8"?>
+<packages>
+  <package id="boost" version="1.68.0.0" targetFramework="native" />
+  <package id="ReactNative.V8.Android" version="7.0.276.32-v1" targetFramework="native" />
+</packages>
